---
import { Debug } from 'astro/components';
import { Image, Picture } from '@astrojs/image/components';
import Base from '../layouts/Base.astro'
import ContactCard from '../components/ContactCard.astro';
import lake from '../assets/images/lake.png'
import phone from '/img/phone-icon.svg'
import computer from '/img/computer-icon.svg'
import house from '/img/house-icon.svg'

const actionUrl = `https://kwesforms.com/api/foreign/forms/Uk2Iku60jQt2t34QhaWr`
const sessionOptions = [
  {
    label: 'Over the telephone',
    img: `<svg width="210" height="130" viewBox="0 0 105 65" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M105 51.0492C105 51.8628 104.751 52.925 104.254 54.2358C103.757 55.5466 103.235 56.5787 102.688 57.3321C101.644 58.8388 98.6115 60.4359 93.5902 62.1234C88.9169 63.6602 84.2933 64.4286 79.7195 64.4286C78.3771 64.4286 77.0721 64.3759 75.8043 64.2704C74.5366 64.165 73.1072 63.9766 71.5163 63.7054C69.9254 63.4342 68.7447 63.2157 67.9741 63.05C67.2035 62.8843 65.8239 62.5754 63.8352 62.1234C61.8466 61.6714 60.6286 61.4002 60.1811 61.3098C55.309 60.2551 50.9588 59.0045 47.1307 57.5581C40.767 55.1775 34.1921 51.9306 27.4059 47.8173C20.6197 43.704 15.2628 39.7188 11.3352 35.8617C8.94886 33.5413 6.88565 30.9046 5.1456 27.9515C4.99645 27.6803 4.54901 26.942 3.80327 25.7367C3.05753 24.5313 2.54794 23.6951 2.2745 23.228C2.00107 22.7609 1.64063 22.0453 1.19318 21.081C0.745739 20.1167 0.435014 19.2503 0.261009 18.4819C0.0870029 17.7135 0 16.9225 0 16.1089C0 13.3365 1.26776 10.5341 3.80327 7.7015C6.58736 4.65798 9.2223 2.81981 11.7081 2.18699C12.951 1.85552 14.6538 1.53911 16.8164 1.23778C18.979 0.936436 20.7315 0.785767 22.0739 0.785767C22.7699 0.785767 23.2919 0.830967 23.6399 0.921369C24.5348 1.10217 25.8523 2.24726 27.5923 4.35664C28.1392 4.92918 28.8849 5.7428 29.8295 6.79749C30.7741 7.85217 31.6442 8.80893 32.4396 9.66774C33.2351 10.5266 34.0057 11.3326 34.7514 12.086C34.9006 12.2065 35.3356 12.5832 36.0565 13.216C36.7773 13.8488 37.3118 14.3837 37.6598 14.8206C38.0078 15.2576 38.1818 15.687 38.1818 16.1089C38.1818 16.7115 37.4734 17.4649 36.0565 18.3689C34.6396 19.2729 33.0984 20.1016 31.4329 20.855C29.7674 21.6083 28.2262 22.4069 26.8093 23.2506C25.3924 24.0944 24.684 24.7874 24.684 25.3299C24.684 25.6011 24.8082 25.9401 25.0568 26.3469C25.3054 26.7537 25.5167 27.0626 25.6907 27.2735C25.8647 27.4844 26.2127 27.846 26.7347 28.3583C27.2567 28.8706 27.5426 29.1569 27.5923 29.2171C31.3707 33.3455 35.696 36.8862 40.5682 39.8393C45.4403 42.7925 51.282 45.4141 58.093 47.7043C58.1925 47.7344 58.6648 47.9077 59.5099 48.2241C60.3551 48.5405 60.9517 48.7514 61.2997 48.8569C61.6477 48.9624 62.1573 49.0905 62.8285 49.2411C63.4996 49.3918 64.059 49.4671 64.5064 49.4671C65.4013 49.4671 66.5447 49.0377 67.9368 48.1789C69.3288 47.3201 70.6463 46.3859 71.8892 45.3764C73.1321 44.367 74.4993 43.4328 75.9908 42.574C77.4822 41.7152 78.7251 41.2858 79.7195 41.2858C80.4155 41.2858 81.1239 41.3912 81.8448 41.6022C82.5657 41.8131 83.4482 42.1371 84.4922 42.574C85.5362 43.0109 86.1577 43.2746 86.3565 43.365C87.5994 43.817 88.9293 44.2841 90.3462 44.7662C91.7631 45.2484 93.3416 45.7757 95.0817 46.3483C96.8217 46.9208 98.1641 47.3728 99.1087 47.7043C102.589 48.759 104.478 49.5575 104.776 50.0999C104.925 50.3109 105 50.6273 105 51.0492Z" fill="black"/>
</svg>
`
  },
  {
    label: 'Video conferencing',
    img: `<svg width="210" height="130" viewBox="0 0 87 57" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M18.85 45.4286C16.8563 45.4286 15.1495 44.738 13.7297 43.3566C12.3099 41.9753 11.6 40.3148 11.6 38.3751V7.33934C11.6 5.39961 12.3099 3.73908 13.7297 2.35775C15.1495 0.976429 16.8563 0.285767 18.85 0.285767H68.15C70.1438 0.285767 71.8505 0.976429 73.2703 2.35775C74.6901 3.73908 75.4 5.39961 75.4 7.33934V38.3751C75.4 40.3148 74.6901 41.9753 73.2703 43.3566C71.8505 44.738 70.1438 45.4286 68.15 45.4286H18.85ZM17.4 7.33934V38.3751C17.4 38.7571 17.5435 39.0878 17.8305 39.367C18.1174 39.6462 18.4573 39.7858 18.85 39.7858H68.15C68.5427 39.7858 68.8826 39.6462 69.1695 39.367C69.4565 39.0878 69.6 38.7571 69.6 38.3751V7.33934C69.6 6.95727 69.4565 6.62663 69.1695 6.34743C68.8826 6.06823 68.5427 5.92862 68.15 5.92862H18.85C18.4573 5.92862 18.1174 6.06823 17.8305 6.34743C17.5435 6.62663 17.4 6.95727 17.4 7.33934ZM79.75 48.2501H87V52.4822C87 53.6578 86.2901 54.6571 84.8703 55.48C83.4505 56.3029 81.7438 56.7143 79.75 56.7143H7.25C5.25625 56.7143 3.54948 56.3029 2.12969 55.48C0.709896 54.6571 0 53.6578 0 52.4822V48.2501H7.25H79.75ZM47.125 52.4822C47.6083 52.4822 47.85 52.2471 47.85 51.7768C47.85 51.3066 47.6083 51.0715 47.125 51.0715H39.875C39.3917 51.0715 39.15 51.3066 39.15 51.7768C39.15 52.2471 39.3917 52.4822 39.875 52.4822H47.125Z" fill="black"/>
</svg>
`
  },
  {
    label: 'At your home',
    img: `<svg width="210" height="130" viewBox="0 0 85 61" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M72.6153 35.5V58C72.6153 58.8125 72.2842 59.5156 71.6219 60.1094C70.9597 60.7031 70.1754 61 69.2692 61H49.1923V43H35.8076V61H15.7307C14.8245 61 14.0402 60.7031 13.378 60.1094C12.7157 59.5156 12.3846 58.8125 12.3846 58V35.5C12.3846 35.4688 12.3933 35.4219 12.4107 35.3594C12.4281 35.2969 12.4368 35.25 12.4368 35.2188L42.5 13L72.563 35.2188C72.5979 35.2812 72.6153 35.375 72.6153 35.5ZM84.2746 32.2656L81.033 35.7344C80.7542 36.0156 80.3882 36.1875 79.9351 36.25H79.7782C79.3251 36.25 78.9591 36.1406 78.6802 35.9219L42.5 8.875L6.31966 35.9219C5.90139 36.1719 5.48312 36.2812 5.06485 36.25C4.61173 36.1875 4.24574 36.0156 3.9669 35.7344L0.725311 32.2656C0.446464 31.9531 0.324469 31.5859 0.359325 31.1641C0.394181 30.7422 0.585887 30.4062 0.934445 30.1562L38.5264 2.07812C39.6418 1.26562 40.9663 0.859375 42.5 0.859375C44.0336 0.859375 45.3581 1.26562 46.4735 2.07812L59.2307 11.6406V2.5C59.2307 2.0625 59.3876 1.70312 59.7013 1.42188C60.015 1.14062 60.4158 1 60.9038 1H70.9423C71.4302 1 71.8311 1.14062 72.1448 1.42188C72.4585 1.70312 72.6153 2.0625 72.6153 2.5V21.625L84.0655 30.1562C84.414 30.4062 84.6057 30.7422 84.6406 31.1641C84.6754 31.5859 84.5534 31.9531 84.2746 32.2656Z" fill="black"/>
</svg>
`
  },
]
---
<script src="https://kwesforms.com/v2/kwes-script.js" defer></script>
<script>
  import kwesforms from 'kwesforms';
  const usPhone = /(?:\d{1}\s)?\(?(\d{3})\)?-?\s?(\d{3})-?\s?(\d{4})/g
  const errorMessage = `Phone number does not match...`
  kwesforms.init();

  kwesforms.setCustomRule(
    'contact',
    'phone',
    errorMessage,
    value => {
        return value.test(usPhone) === true;
    }
);
</script>
<Base>
  <section class="pl-8rem pb-3rem">
    <h1 class="hidden">Contact</h1>
    <h2 class="w-1/3 font-dserif text-midnight-blue text-6xl mb-4">Change starts with a single step forward</h2>
  </section>
  <section class="relative flex flex-col bg-white w-full px-3.5rem">
    <Picture alt="" sizes="" src={lake} widths={[lake.width]} />
    <div class="absolute flex flex-row justify-end items-center w-4/5 h-full z-15">
        <div class="flex flex-col justify-evenly items-center w-2/5 h-4/5 bg-white shadow-md">
          <div class="w-full h-full flex flex-col justify-evenly items-center p-12">
            <h2 class="font-dserif text-5xl text-midnight-blue" >Let's Connect</h2>
              <form class="kwes-form w-full py-1rem flex flex-col" action={actionUrl} method="POST" client:load>
                <label for="first">First Name</label>
                <input type="text" name="first" rules="required|max:150">
                <label for="last">Last Name</label>
                <input type="text" name="last" rules="required|max:150">
                <label for="email">Email</label>
                <input type="text" name="email" rules="required|email">
                <label for="phone">Phone</label>
                <input type="number" name="phone">
                <label for="message">Message</label>
                <textarea name="message" rules="max:300" />

                <button type="submit" class="w=1/2 bg-midnight-blue px-6 py-4 mt-8 shadow-sm font-dsans text-white text-center text-xl">
                  Submit
                </button>
              </form>
          </div>
        </div>
    </div>
  </section>
  <!-- CONTACT INFO & SESSION OPTIONS -->
  <section id="info" class="w-full flex flex-col justify-center items-center">
    <h3 class="w-1/3 font-dserif text-center text-midnight-blue text-6xl py-5rem">Contact<br>Information</h3>
      <ContactCard />
  </section>
  <section class="w-full flex flex-col justify-center items-center">
    <h3 class="w-1/3 font-dserif text-center text-midnight-blue text-6xl py-5rem">Session Options Including:</h3>
    <div class="w-full flex flex-row justify-evenly items-center">
      {
        sessionOptions.map((option) => (
            <div class="flex flex-col justify-center items-center bg-white p-16 shadow-lg">
                <div
                 class:list={['text-midnight-blue']}
                 set:html={option.img}>
                 </div>
                <p class="font-dsans text-3xl text-midnight-blue py-8">{option.label}</p>
            </div>
            ))
      }
    </div>

  </section>
</Base>

<style>
  svg {
    fill: rgba(0, 51, 102);
  }
</style>