---
import { Picture } from '@astrojs/image/components';
import Base from '../layouts/Base.astro'
import ContactCard from '../components/ContactCard.astro';
import ContactForm from '../components/ContactForm.astro';
import lake from '../assets/images/lake.png'

const sessionOptions = [
  {
    label: 'Over the telephone',
    img: `<svg xmlns="http://www.w3.org/2000/svg" width="200" height="130" fill="none" viewBox="0 0 105 65">
  <path fill="#003366" d="M105 51.05c0 .813-.249 1.875-.746 3.186-.497 1.31-1.019 2.343-1.566 3.096-1.044 1.507-4.076 3.104-9.098 4.791-4.673 1.537-9.297 2.306-13.87 2.306-1.343 0-2.648-.053-3.916-.159a50.887 50.887 0 0 1-4.288-.565 92.257 92.257 0 0 1-3.542-.655c-.77-.166-2.15-.475-4.139-.927a233.089 233.089 0 0 0-3.654-.813c-4.872-1.055-9.222-2.306-13.05-3.752-6.364-2.38-12.939-5.627-19.725-9.74-6.786-4.114-12.143-8.1-16.07-11.956a37.577 37.577 0 0 1-6.19-7.91c-.15-.272-.597-1.01-1.343-2.215a142.947 142.947 0 0 1-1.528-2.509c-.274-.467-.634-1.183-1.082-2.147-.447-.964-.758-1.83-.932-2.6A10.711 10.711 0 0 1 0 16.11c0-2.773 1.268-5.575 3.803-8.408 2.784-3.043 5.42-4.881 7.905-5.514 1.243-.331 2.946-.648 5.108-.95 2.163-.3 3.916-.451 5.258-.451.696 0 1.218.045 1.566.135.895.181 2.212 1.326 3.952 3.436a110.2 110.2 0 0 1 2.238 2.44 233.982 233.982 0 0 0 2.61 2.87c.795.86 1.566 1.666 2.311 2.419.15.12.585.497 1.306 1.13.72.633 1.255 1.168 1.603 1.605.348.437.522.866.522 1.288 0 .602-.709 1.356-2.126 2.26a36.72 36.72 0 0 1-4.623 2.486 46.446 46.446 0 0 0-4.624 2.396c-1.417.843-2.125 1.536-2.125 2.079 0 .271.124.61.373 1.017.248.407.46.716.634.926.174.211.522.573 1.044 1.085.522.513.808.799.857.86 3.779 4.128 8.104 7.668 12.976 10.621 4.872 2.953 10.714 5.575 17.525 7.865.1.03.572.204 1.417.52a34.65 34.65 0 0 0 1.79.633c.348.105.857.233 1.529.384.67.15 1.23.226 1.677.226.895 0 2.039-.43 3.43-1.288a37.448 37.448 0 0 0 3.953-2.803 31.127 31.127 0 0 1 4.102-2.802c1.491-.859 2.734-1.288 3.728-1.288.697 0 1.405.105 2.126.316.72.211 1.603.535 2.647.972 1.044.437 1.666.7 1.864.791 1.243.452 2.573.92 3.99 1.401 1.417.482 2.996 1.01 4.736 1.582 1.74.573 3.082 1.025 4.027 1.356 3.48 1.055 5.369 1.853 5.667 2.396.149.21.224.527.224.95Z"/>
</svg>`
  },
  {
    label: 'Video conferencing',
    img: `<svg xmlns="http://www.w3.org/2000/svg" width="200" height="130" fill="none" viewBox="0 0 87 57">
  <path fill="#003366" d="M18.85 45.429c-1.994 0-3.7-.691-5.12-2.072-1.42-1.382-2.13-3.042-2.13-4.982V7.34c0-1.94.71-3.6 2.13-4.981C15.15.976 16.856.286 18.85.286h49.3c1.994 0 3.7.69 5.12 2.072C74.69 3.739 75.4 5.4 75.4 7.339v31.036c0 1.94-.71 3.6-2.13 4.982-1.42 1.381-3.126 2.072-5.12 2.072h-49.3ZM17.4 7.339v31.036c0 .382.144.713.43.992.287.28.627.419 1.02.419h49.3c.393 0 .733-.14 1.02-.419.287-.28.43-.61.43-.992V7.34c0-.382-.143-.712-.43-.992a1.413 1.413 0 0 0-1.02-.418h-49.3c-.393 0-.733.14-1.02.418-.286.28-.43.61-.43.992ZM79.75 48.25H87v4.232c0 1.176-.71 2.175-2.13 2.998-1.42.823-3.126 1.234-5.12 1.234H7.25c-1.994 0-3.7-.411-5.12-1.234S0 53.658 0 52.482V48.25h79.75Zm-32.625 4.232c.483 0 .725-.235.725-.705s-.242-.706-.725-.706h-7.25c-.483 0-.725.236-.725.706s.242.705.725.705h7.25Z"/>
</svg>`
  },
  {
    label: 'At your home',
    img: `<svg xmlns="http://www.w3.org/2000/svg" width="200" height="130" fill="none" viewBox="0 0 85 61">
  <path fill="#003366" d="M72.615 35.5V58c0 .813-.33 1.516-.993 2.11-.662.593-1.447.89-2.353.89H49.192V43H35.808v18H15.73c-.906 0-1.69-.297-2.353-.89-.662-.594-.993-1.297-.993-2.11V35.5c0-.031.008-.078.026-.14a.582.582 0 0 0 .026-.141L42.5 13l30.063 22.219a.592.592 0 0 1 .052.281Zm11.66-3.234-3.242 3.468c-.279.282-.645.453-1.098.516h-.157c-.453 0-.819-.11-1.098-.328L42.5 8.875 6.32 35.922c-.419.25-.837.36-1.255.328-.453-.063-.82-.234-1.098-.516L.725 32.266c-.279-.313-.4-.68-.366-1.102.035-.422.227-.758.575-1.008L38.526 2.078C39.642 1.266 40.966.86 42.5.86c1.534 0 2.858.407 3.974 1.22l12.756 9.56V2.5c0-.438.157-.797.47-1.078.314-.281.715-.422 1.203-.422h10.038c.488 0 .89.14 1.203.422.314.281.47.64.47 1.078v19.125l11.45 8.531c.349.25.54.586.576 1.008a1.42 1.42 0 0 1-.366 1.102Z"/>
</svg>`
  },
]
---

<Base>
  <section class="pl-8rem pb-3rem">
    <h1 class="hidden">Contact</h1>
    <h2 class="w-1/3 font-dserif text-midnight-blue text-6xl mb-4">Change starts with a single step forward</h2>
  </section>
  <section class="relative flex flex-col bg-white w-full px-3.5rem">
    <Picture alt="" sizes="" src={lake} widths={[lake.width]} />
    <div class="absolute flex flex-row justify-end items-center w-4/5 h-full">
        <div class="flex flex-col justify-evenly items-center w-2/5 h-4/5 bg-white shadow-md">
          <div class="w-full h-full flex flex-col justify-evenly items-center p-12">
            <h2 class="font-dserif text-5xl text-midnight-blue" >Let's Connect</h2>
              <ContactForm />
          </div>
        </div>
    </div>
  </section>
  <!-- CONTACT INFO & SESSION OPTIONS -->
  <section id="info" class="w-full flex flex-col justify-center items-center">
    <h3 class="w-1/3 font-dserif text-center text-midnight-blue text-6xl py-5rem">Contact<br>Information</h3>
      <ContactCard />
  </section>
  <section class="w-full flex flex-col justify-center items-center">
    <h3 class="w-1/3 font-dserif text-center text-midnight-blue text-6xl py-5rem">Session Options Including:</h3>
    <div class="w-full flex flex-row justify-evenly items-center">
      {
        sessionOptions.map((option) => (
            <div class="flex flex-col justify-center items-center bg-white p-16 shadow-lg">
                <div
                 class:list={['']}
                 set:html={option.img}>
                 </div>
                <p class="font-dsans text-3xl text-midnight-blue py-8">{option.label}</p>
            </div>
            ))
      }
    </div>

  </section>
</Base>

<style>
  svg {
    width: 200px;
  }
</style>