<section class="w-full grid grid-cols-4 grid-rows-4 gap-3 pt-5rem text-dsans text-xl">
  <div id="applied" class="bg-silver col-start-1 col-end-1 row-span-3">
    <div>
      <h3>Applied</h3>
      <ul>
        <li>What are you avoiding?</li>
        <li>What are you thinking?</li>
        <li>What is important to you?</li>
      </ul>
    </div>
  </div>
  <div id="behavorial" class="bg-gainsboro row-span-2">
    <div>
      <h3>Behavioral</h3>
      <ul>
        <li>What have you tried?</li>
        <li>Let's try on a new perspective and experiment.</li>
      </ul>
    </div>
  </div>
  <div id="analysis" class="bg-midnight-blue text-white col-start-3 col-span-2 row-span-2">
    <div>
      <h3>
        Analysis
      </h3>
      <ul>
        <li>
          Is it working?
        </li>
        <li>
          How do we know?
        </li>
      </ul>
    </div>
  </div>  
  <div id="technology" class="bg-midnight-blue text-white col-start-1 col-span-2">
    <div>
      <h3>
        Technology
      </h3>
      <ul>
        <li>
          Can you keep up the good work?
        </li>
        <li>
          Will you?
        </li>
      </ul>
    </div>
  </div>
  <div id="effective" class="bg-[#42688D] text-white col-start-3 col-span-2 row-start-3 row-span-2" >
    <div>
      <h3>
        Effective
      </h3>
      <ul>
        <li>
          Is your life better now?
        </li>
        <li>
          How do you know?
        </li>
      </ul>
    </div>
  </div>
</section>

<style>
section div {
  @apply p-3;
}
h3 {
  @apply mb-2;
}
</style>
