<div class="text-lg text-midnight-blue">
    <p>Richard W. Breuner, MA, BCBA</p>
    <p class="">
      New Trend Applied Behavior Analysis
    </p>
    <a href="tel:5304141388">530-414-1388</a>
    <p>rbreuner@newtrendaba.com</p>
</div>