---
const actionUrl = `https://kwesforms.com/api/foreign/forms/Uk2Iku60jQt2t34QhaWr`
---
<!-- <script src="https://kwesforms.com/v2/kwes-script.js" defer></script> -->
<script>
  import kwesforms from 'kwesforms';
  const usPhone = /(?:\d{1}\s)?\(?(\d{3})\)?-?\s?(\d{3})-?\s?(\d{4})/g
  const errorMessage = `Phone number does not match...`
  kwesforms.init();

  kwesforms.setCustomRule(
    'contact',
    'phone',
    errorMessage,
    value => {
        return typeof value === 'string' && value.test(usPhone) === true;
    }
);
</script>
<form id="contact" class="kwes-form w-full py-1rem flex flex-col" action={actionUrl} method="POST" client:load>
    <label for="first">First Name</label>
    <input type="text" name="first" rules="required|max:150">
    <label for="last">Last Name</label>
    <input type="text" name="last" rules="required|max:150">
    <label for="email">Email</label>
    <input type="text" name="email" rules="required|email">
    <label for="phone">Phone</label>
    <input type="number" name="phone">
    <label for="message">Message</label>
    <textarea name="message" rules="max:300" />

    <button type="submit" class="w=1/2 bg-midnight-blue px-6 py-4 mt-8 shadow-sm font-dsans text-white text-center text-xl">
      Submit
    </button>
</form>