---
import { Picture } from '@astrojs/image/components';
import plant from "../assets/images/plant-bg.png"
---
<section id="nt-cta" class="relative flex flex-col items-center bg-white w-full px-3.5rem">
  <Picture alt="" id="cta-bg-img" sizes="" src={plant} widths={[plant.width]} />
 <div class="absolute flex flex-row justify-center items-center w-full h-full">
    <div id="cta-card" class="flex flex-col justify-start items-center w-2/5 h-1/2 bg-transparent">
      <div id="content" class="h-full flex flex-col justify-between items-center p-12">
        <h1 id="card-header" class="font-dserif text-5xl text-midnight-blue" >
          <slot />
        </h1>
      </div>
    </div>
 </div>
</section>
