---
import Logo from "../components/Logo.astro";
import Nav from "../components/Nav.astro";
---

<header
  id="header"
  class="absolute w-full flex flex-col justify-between items-center bg-white px-16 py-7 shadow-xl"
>
  <section
    id="nav-wrap"
    class="w-full flex flex-row justify-between items-center"
  >
    <Logo />
    <Nav />
    <!-- 
      <div id="cta-button">
        <p id="btn-txt">Schedule a free Informal Assessment</p>
      </div> 
    -->
  </section>
</header>
