---
import Logo from '../components/Logo.astro'
import Nav from '../components/Nav.astro'
---
<header id="header" class="absolute w-full flex flex-col justify-between items-center bg-white px-16 py-7 shadow-xl">
  <div id="nav-wrap" class="w-full flex flex-row justify-center items-center">
    <Logo />
    <Nav />
    <!-- 
    <div id="cta-button">
      <p id="btn-txt">Schedule a free Informal Assessment</p>
    </div> 
    -->
  </div>
</header>



<!-- 
<style>
.header {
  background-color: var(--white);
  padding: 29px 84px 28px 60px;
  box-shadow: 0 4px 23px 0 var(--transparent-black-2);
  display: flex;
  align-items: center;
}
.inner-nav {
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-links {
  display: flex;
  align-items: center;
}
.the-approach {
  width: 101px;
  color: var(--midnight-blue);
  margin-right: 68px;
  letter-spacing: 0.42px;
  font-family: var(--dm-sans-14-regular-family);
  font-size: var(--dm-sans-14-regular-size);
  font-weight: var(--dm-sans-14-regular-weight);
  line-height: var(--dm-sans-14-regular-line-height);
}
.assessment {
  width: 83px;
  color: var(--midnight-blue-2);
  margin-right: 74px;
  letter-spacing: 0.42px;
  font-family: var(--dm-sans-14-regular-family);
  font-size: var(--dm-sans-14-regular-size);
  font-weight: var(--dm-sans-14-regular-weight);
  line-height: var(--dm-sans-14-regular-line-height);
}
.about {
  width: 42px;
  color: var(--midnight-blue);
  margin-right: 61px;
  letter-spacing: 0.42px;
  font-family: var(--dm-sans-14-regular-family);
  font-size: var(--dm-sans-14-regular-size);
  font-weight: var(--dm-sans-14-regular-weight);
  line-height: var(--dm-sans-14-regular-line-height);
}
.contact {
  width: 56px;
  color: var(--midnight-blue);
  letter-spacing: 0.42px;
  font-family: var(--dm-sans-14-regular-family);
  font-size: var(--dm-sans-14-regular-size);
  font-weight: var(--dm-sans-14-regular-weight);
  line-height: var(--dm-sans-14-regular-line-height);
}
.cta-button {
  background-color: var(--midnight-blue);
  padding: 24px 13.18px 26px 12.17px;
  display: flex;
  align-items: center;
}
.btn-txt {
  width: 259.61px;
  color: var(--white);
  text-align: center;
  font-family: var(--dm-sans-14-regular-family);
  font-size: var(--dm-sans-14-regular-size);
  font-weight: var(--dm-sans-14-regular-weight);
  line-height: var(--dm-sans-14-regular-line-height);
}
</style> 
-->
