
<div class="nt-hero">
  <div class="flex-wrapper-one">
    <div class="content">
      <div class="hero-text">
        <p class="hero-header">Behavior Analysis and Therapy</p>
        <p class="hero-chaser">for Adults, Elders and Their Caretakers</p>
      </div>
      <div class="cta-btn">
        <p class="schedule-a-free-assessment">Schedule a Free Assessment</p>
      </div>
    </div>
  </div>
  <img alt="" class="hero-graphic" src="/images/hero-cutout.svg" />
</div>

<style>
.nt-hero {
  padding: 19px 0 57px;
}
.flex-wrapper-one {
  padding: 6px 376px 35px 37px;
  position: relative;
}
.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.hero-text {
  margin-bottom: 83px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.hero-header {
  width: 80.55%;
  height: 59.43%;
  color: var(--midnight-blue);
  margin-bottom: 2px;
  font-family: var(--dm-serif-text-46-regular-family);
  font-size: var(--dm-serif-text-46-regular-size);
  font-weight: var(--dm-serif-text-46-regular-weight);
  line-height: var(--dm-serif-text-46-regular-line-height);
}
.hero-chaser {
  height: 38.68%;
  color: var(--midnight-blue);
  align-self: stretch;
  font-family: var(--dm-serif-text-30-regular-family);
  font-size: var(--dm-serif-text-30-regular-size);
  font-weight: var(--dm-serif-text-30-regular-weight);
  line-height: var(--dm-serif-text-30-regular-line-height);
}
.cta-btn {
  background-color: var(--midnight-blue);
  margin-left: 256px;
  padding: 17px 12px 18px 13px;
  box-shadow: 0 2px 1px 0 var(--transparent-white-1);
  display: flex;
  align-items: center;
}
.schedule-a-free-assessment {
  color: var(--white);
  flex: 1;
  align-self: stretch;
  text-align: center;
  font-family: var(--dm-sans-22-regular-family);
  font-size: var(--dm-sans-22-regular-size);
  font-weight: var(--dm-sans-22-regular-weight);
  line-height: var(--dm-sans-22-regular-line-height);
}
.hero-graphic {
  width: 575.5px;
  height: 370px;
  position: absolute;
  right: 4.5px;
  top: 0;
}
</style>
