---
const navLinks = [
    {
        route: '/approach',
        label: 'The Approach'
    },
    {
        route: '/assessment',
        label: 'Tailored Assessment'
    },
    {
        route: '/about',
        label: 'About'
    },
    {
        route: '/contact',
        label: 'Contact'
    },
]
---
<nav id="nav-links" class="font-dsans w-full">
    <ul class="list-none flex flex-row justify-center">
        {navLinks.map((link) => (
            <li class="w-full px-2 text-center">
                <a class="w-full text-midnight-blue text-2xl no-underline" href={link.route}>{link.label}</a>
            </li>
        ))}
    </ul>
</nav>

<style>

</style>