<nav id="nav-links" class="font-dsans">
    <ul class="list-none flex flex-row">
      <li><a href="/approach" id="the-approach">The Approach</a></li>
      <li><a href="/assessment" id="assessment">Tailored Assessment</a></li>
      <li><a href="/about" id="about">About</a></li>
      <li><a href="/contact" id="contact">Contact</a></li>
    </ul>
</nav>

<style>
ul > li {
    @apply mx-4;
}
a {
    @apply no-underline;
}
</style>