---
import { Debug } from 'astro/components';
import { Image, Picture } from '@astrojs/image/components';
import ImageBG from '../components/ImageBG.astro'
import CtaButton from '../components/CtaButton.astro'
import profile from '../assets/images/profile.png'
---
<section class="w-full flex flex-col items-center">
  <div class="w-full h-full flex flex-row justify-center items-start p-16">
    <div class="flex flex-col justify-between items-center w-2/3 h-full">
      <h3 class="font-dsans text-5xl text-midnight-blue pb-12">Richard Breuner, your Behavioral Analyst</h3>
      <p class="font-inter text-dim-gray text-3xl px-48 pb-12">I'm a native Californian but have lived in Reno for the last 8 years.
        Following a traditional life raising a family and a career in real
        estate, I decided to go back to school to study psychology at UNR. In
        addition to my Master's degree in Psychology, I am a Board Certified
        Behavior Analyst (BCBA), and a licensed Behavior Analyst in Nevada and
        an Aging in Place Specialist.
      </p>
      <CtaButton>About Me</CtaButton>
    </div>
    <div class="relative w-1/5">
      <Picture src={profile} widths={[profile.width]} height={profile.height} sizes="" format="webp" alt="" />
      <ImageBG width={profile.width} height={profile.height} />
    </div>
  </div>
</section>

<style>
 img {
    position: relative;
    z-index: 10;
  }
</style>