<div class="tiles">
  <div class="tile-1">
    <div class="tile-image">
      <div class="rectangle-9"></div>
      <div class="rectangle-8"></div>
      <img alt="" class="rectangle-7" src="~/assets/images/tiles-1.png" />
    </div>
    <p class="tile-label">Mindful Training</p>
  </div>
  <div class="tile-1">
    <div class="tile-image-two">
      <div class="rectangle-10"></div>
      <div class="rectangle-9-two"></div>
      <img alt="" class="bahavioral-1" src="~/assets/images/tiles-2.png" />
    </div>
    <p class="tile-label-two">Behavioral Skills Training</p>
  </div>
  <div class="tile-1">
    <div class="tile-image-three">
      <div class="rectangle-11"></div>
      <div class="rectangle-10-two"></div>
      <img alt="" class="love-1" src="~/assets/images/tiles-3.png" />
    </div>
    <p class="tile-label-three">Acceptance and Commitment Training</p>
  </div>
</div>

<style>
.tiles {
  padding: 25px 3px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.tile-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.tile-1:not(:last-of-type) {
  margin-right: 26px;
}
.tile-image {
  margin-bottom: 25px;
  padding: 0 0 36px 38px;
  position: relative;
}
.rectangle-9 {
  width: 310px;
  height: 328px;
  background-color: var(--gainsboro-2);
  position: relative;
}
.rectangle-8 {
  width: 310px;
  height: 328px;
  background-color: var(--dark-slate-blue);
  position: absolute;
  right: 18px;
  top: 16px;
}
.rectangle-7 {
  width: 310px;
  height: 328px;
  position: absolute;
  left: 0;
  bottom: 0;
}
.tile-label {
  color: var(--dim-gray);
  font-family: var(--dm-sans-23-bold-family);
  font-size: var(--dm-sans-23-bold-size);
  font-weight: var(--dm-sans-23-bold-weight);
  line-height: var(--dm-sans-23-bold-line-height);
}
.tile-image-two {
  margin-bottom: 37px;
  padding: 18px 15px 16px;
  position: relative;
}
.rectangle-10 {
  width: 332px;
  height: 328px;
  background-color: var(--gainsboro-2);
  position: absolute;
  right: 0;
  top: 0;
}
.rectangle-9-two {
  width: 338px;
  height: 328px;
  background-color: var(--dark-slate-blue);
  position: relative;
}
.bahavioral-1 {
  width: 330px;
  height: 326px;
  position: absolute;
  left: 0;
  bottom: 0;
}
.tile-label-two {
  height: 30px;
  width: 273px;
  color: var(--dim-gray);
  display: flex;
  font-family: var(--dm-sans-23-bold-family);
  font-size: var(--dm-sans-23-bold-size);
  font-weight: var(--dm-sans-23-bold-weight);
  line-height: var(--dm-sans-23-bold-line-height);
}
.tile-image-three {
  margin-bottom: 37px;
  padding: 18px 22px 16px;
  position: relative;
}
.rectangle-11 {
  width: 354px;
  height: 328px;
  background-color: var(--gainsboro-2);
  position: absolute;
  right: 0;
  top: 0;
}
.rectangle-10-two {
  width: 358px;
  height: 328px;
  background-color: var(--dark-slate-blue);
  position: relative;
}
.love-1 {
  width: 358px;
  height: 326px;
  position: absolute;
  left: 0;
  bottom: 0;
}
.tile-label-three {
  width: 446px;
  color: var(--dim-gray);
  font-family: var(--dm-sans-23-bold-family);
  font-size: var(--dm-sans-23-bold-size);
  font-weight: var(--dm-sans-23-bold-weight);
  line-height: var(--dm-sans-23-bold-line-height);
}
</style>
