<aside id="logo" class="relative w-full flex flex-col justify-center font-abz pb-10px text-midnight-blue">
    <a href="/">
        <div class="flex flex-col">
            <p class="text-4xl w-full h-full">NEW TREND</p>
            <p class="">ADULT BEHAVIOR ANALYSIS</p>
        </div>
    </a>
</aside>

<style></style>