<aside id="logo" class="relative min-w-14.25rem flex flex-col justify-center font-abz text-midnight-blue">
    <a class:list={[

    ]} href="/">
        <div class="flex flex-col">
            <p class="text-4xl w-full h-full">NEW TREND</p>
            <p class="">ADULT BEHAVIOR ANALYSIS</p>
        </div>
    </a>
</aside>