<aside id="logo" class:list={[
    "text-midnight-blue",
    "font-abz",
 ]}>
    <a class:list={[

    ]} href="/">
        <div class:list={[
        "flex",
        "flex-col",
        "place-items-center",
    ]}>
            <p class:list={[
                "inline-block", 
                "text-8xl", 
                "4k:text-6xl", 
                "2k:text-6xl", 
                "hd:text-6xl", 
                "2xl:text-6xl", 
                "w-max" , 
                "h-full"
                ]}>NEW TREND</p>
            <p class:list={[
                "inline-block", 
                "text-4xl", 
                "4k:text-3xl", 
                "2k:text-3xl", 
                "hd:text-3xl", 
                "2xl:text-2xl", 
                "w-max", 
                "h-full"
                ]}>ADULT BEHAVIOR ANALYSIS</p>
        </div>
    </a>
</aside>