---
import "@fontsource/abeezee";
import "@fontsource/acme";
import "@fontsource/dm-sans";
import "@fontsource/dm-serif-text";
import "@fontsource/hanuman";
import "@fontsource/inter";
import "@fontsource/roboto";
import "virtual:windi.css";
import "virtual:windi-devtools";
import "../styles/base.css";
import ContactCard from "./blocks/ContactCard.astro";
import NavLinks from "./blocks/NavLinks.astro";
import MobileIcon from "./blocks/MobileIcon.astro";
import Logo from "./blocks/Logo.astro";

let title = "New Trend Adult Behavior Analysis";
const year = new Date().getFullYear();
---

<html
  lang="en"
  class:list={[
    // "xl:()",
    // "lg:()",
    // "md:()",
    // "sm:()",
    // "xs:()",
  ]}
>
  <head>
    <meta charset="utf-8" />
    <title>{title}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body
    class:list={[
      // "xl:()",
      // "lg:()",
      // "md:()",
      // "sm:()",
      // "xs:()",
    ]}
  >
    <header
      class:list={[
        "flex",
        "flex-row",
        "items-center",
        "justify-evenly",
        
        // "xl:()",
        // "lg:()",
        // "md:()",
        // "sm:()",
        // "xs:()",
      ]}
    >
      <Logo />

      <nav
        class:list={[
          // "col-start-2",
          // "content-center",
          "flex flex-row",
          // "items-center",
          // "justify-self-center",
          // "w-full",
          // "px-5rem",
          // "bg-white",
          "xl:()",
          "lg:()",
          "md:()",
          "sm:()",
          "xs:()",
        ]}
      >
        <NavLinks
          listStyle={[
            "flex flex-row basis-1/2 justify-between items-center",
            "text-midnight-blue text-center",
            "w-full h-full",
            "list-none",
            " p-0 m-0",
            "z-1",
            "xl:()",
            "lg:()",
            "md:()",
            "sm:()",
            "xs:()",
          ]}
          listItemStyle={[
            "w-full min-w-200px",
            "text-2xl",
            // "2xl:(text-xl)",
            "xl:()",
            "lg:()",
            "md:()",
            "sm:()",
            "xs:()",
          ]}
          anchorStyle={[
            // "pt-20px px-0",
            "w-full",
            "block",
            "uppercase",
            "no-underline",
            "relative",
            // "transition-colors duration-300 delay-150 ease-in",
            // 'after:(content-[""] absolute left-0 bottom-0 h-full w-0 transition-width duration-300 ease-in bg-white -z-1)',
            // "hover:(text-[#0799d3] after:w-full)",
            "xl:()",
            "lg:()",
            "md:()",
            "sm:()",
            "xs:()",
          ]}
        />
      </nav>
      <MobileIcon />
    </header>
    <main class:list={[]}>
      <slot />
      <!-- <section
        id="main-content"
        class:list={[]}
      >
      </section> -->
    </main>
    <footer
      class:list={[
        "flex",
        "flex-col",
        "justify-evenly",
        "items-center",

        // "xl:()",
        // "lg:()",
        // "md:()",
        // "sm:()",
        // "xs:()",
      ]}
    >
      <section
        class:list={[
          "w-11/12",
          // "h-full",
          "flex flex-row",
          "justify-evenly"
        ]}
      >
        <Logo />
        <NavLinks
          listStyle={[
            // "flex flex-col basis-1/2 justify-evenly items-center",
            // "list-none",
            // "w-11/12 h-2rem",
            // " p-0 m-0",
            // " mt-100px",
            // "text-left",
            // "text-midnight-blue",
            // "break-word",
            "xl:()",
            "lg:()",
            "md:()",
            "sm:()",
            "xs:()",
          ]}
          listItemStyle={[
            // "w-full",
            // "min-w-200px",
            // "text-2xl",
            // "2xl:(text-xl)",
            "xl:()",
            "lg:()",
            "md:()",
            "sm:()",
            "xs:()",
          ]}
          anchorStyle={[
            // "pt-20px px-0",
            // "block",
            // "uppercase",
            // "no-underline",
            // "font-medium",
            // "relative",
            // "transition-colors duration-300 delay-150 ease-in",
            // 'after:(content-[""] absolute left-0 bottom-0 h-full w-0 transition-width duration-300 ease-in bg-white -z-1)',
            // "hover:(text-[#0799d3] after:w-full)",
            // "w-full",
            "xl:()",
            "lg:()",
            "md:()",
            "sm:()",
            "xs:()",
          ]}
        />
        <ContactCard align="text-right" />
      </section>
      <section id="disclaimer">
        <span class="text-lg"
          >All Rights Reserved | Newtrendaba.com | {year}</span
        >
      </section>
    </footer>
  </body>
</html>

<style>
  body {
    /* min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto; */
    @apply min-h-screen grid grid-rows-[300px,1fr,350px];
  }
  header,
  footer {
    /* display: grid;
    place-items: center; */
    @apply grid place-items-center shadow-xl z-3;
  }

  main {
    padding: 1rem;
    min-width: 80ch;
    margin: 0 auto;
    outline: 2px dashed grey;
  }
</style>
