---
import "@fontsource/abeezee"
import "@fontsource/acme"
import "@fontsource/dm-sans"
import "@fontsource/dm-serif-text"
import "@fontsource/hanuman"
import "@fontsource/inter"
import "@fontsource/roboto"
import 'virtual:windi.css'
import 'virtual:windi-devtools'
import '../styles/base.css';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import CallToAction from '../components/CallToAction.astro'

let title = 'New Trend Adult Behavior Analysis'
---
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{title}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body class="">
    <Header />
    <main class="pt-48">
      <slot /> <!-- your content is injected here -->
      <CallToAction />
    </main>
    <Footer/>
  </body>
</html>

<style is:global>
   img {
    position: relative;
    z-index: 10;
  }
</style>
